<div class="row">
  <div class="col-md-3">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="padding-top: 30px;"><h4> {{ title }} </h4></li>
        <li><a href="/home"><span>Home</span></a></li>
        <li><a href="/student"><span>Student</span></a></li>
        <li><a href="/student-contact"><span>Contact Details</span></a></li>
        <li><a href="/task"><span>Task</span></a></li>
        <li><a href="/about"><span>About</span></a></li>
        <li><a href="/contact"><span>Contact</span></a></li>
      </ul>
    </section>
  </div>
  <div class="col-md-9">
    <div class="content-wrapper">
      <section class="content">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </section>
  </div>
</div>

