<div class="well">
    <div class="container">
        <div class="jumbotron">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" placeholder="Age" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Gender
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>Male</li>
                                <li>Female</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-info pull-right" style="margin-right: 10px;">SAVE</button>
                        <button type="reset" class="btn btn-danger">CANCEL</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>
